[Desktop Entry]
Comment[es]=Un tema translúcido para Plasma 5
Comment=A translucent theme for Plasma 5
Name=Helium
X-KDE-PluginInfo-Author=Mcder3
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=mcder3[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-Name=Helium
X-KDE-PluginInfo-Version=9.13.2
X-KDE-PluginInfo-Website=https://twitter.com/mcder3
X-Plasma-API=5.0
